@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import 'normalize.css';
@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smoothing;
    font-size: 62.5%;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  body {
    color: theme(colors.text);
    font-size: theme(fontSize.DEFAULT);
    font-family: theme(fontFamily[tt-norms-pro]);
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.gray.400);
    box-shadow: 1px 1px 50px theme(colors.grayShadow);
    border-radius: 10px;
  }
  h1 {
    font-size: 30px;
    font-weight: 800;
  }
  h2 {
    font-size: 24px;
    font-weight: 800;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
  }
  button,
  input,
  select,
  textarea {
    all: unset;
    font-family: inherit;
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
  }
}

@layer components {
  /*USER STATUS*/
  .online::after {
    @apply content-[''] absolute top-1 right-[-2px]  w-2 h-2 rounded-full border-2 border-solid border-white bg-green-500;
  }
  .off.online::after {
    @apply content-[''] absolute top-1 right-[-2px]  w-2 h-2 rounded-full border-2 border-solid border-white bg-slate-300;
  }
  /* CONVERSATION */
  .chat-item {
    @apply flex items-start gap-12 text-16;
  }
  .chat-item.not-own {
    @apply justify-start;
  }
  .chat-item.not-own p {
    @apply rounded-[0_6px_6px_6px] text-white bg-gradient-to-r from-blue-400 to-[theme(colors.primary)] shadow-[10px_10px_50px_theme(colors.primaryShadow)];
  }
  .chat-item.own {
    @apply flex-row-reverse;
  }
  .chat-item.own div {
    @apply flex flex-col;
  }
  .chat-item.own p {
    @apply rounded-[6px_0_6px_6px] border border-gray-200 ml-auto shadow-[15px_15px_35px_theme(colors.grayShadow)] text-end;
  }
  /*NOTIFICATION*/
  .is-notify::after {
    @apply content-[''] absolute top-1 right-[-12%] h-2 w-2 rounded-full bg-red-500 border border-solid border-white;
  }
  .item-hovered {
    @apply hover:bg-blue-400 hover:text-white cursor-pointer duration-300;
  }
  .process-bar {
    @apply content-[''] absolute w-full h-full bg-slate-600 top-0 left-0;
  }
  /*TOAST*/
  .toast {
    @apply w-max p-2  gap-x-2 flex items-center rounded-sm shadow-lg z-[99999] sm:py-1 max-w-[70vw];
  }
  .toast + .toast {
    @apply mt-1;
  }
  .no-read::after {
    @apply content-[''] absolute top-[5px] right-[-6px] w-[20px] h-[10px] bg-red-500 shadow-md;
  }
  .no-read::before {
    @apply content-[''] absolute top-[15px] right-[-6px] border-t-[10px] border-r-[8px]  border-t-red-400 border-r-transparent;
  }
  /*NAVBAR*/
  .navbar {
    @apply fixed w-[300px] z-[999] bg-white shadow-[24px_6px_50px_0px_theme(colors.lightShadow)];
  }
  .navbar li:nth-of-type(1),
  .navbar li:last-child {
    @apply mt-auto;
  }
  .navbar li:last-child {
    @apply mb-12;
  }
  .nav-item {
    @apply flex gap-[18px] items-center py-8 px-16 text-gray-700;
  }
  .nav-item.active {
    @apply text-primary;
  }
  .nav-item-text {
    @apply font-semiBold text-16 uppercase;
  }
  .indicator {
    @apply w-4 h-24 bg-primary shadow-[0_0_10px_2px_theme(colors.primary)] absolute left-0 top-0 transition-all;
  }
  /*HEADER CONVERSATION LIST*/
  .create-new-chat-btn {
    @apply flex items-center text-white rounded-[6px] gap-8 bg-gradient-to-r from-blue-300 to-primary px-16 py-12 text-16 shadow-[10px_6px_25px_theme(colors.primaryShadow)] hover:brightness-105 transition-all;
  }
  /*LOADER*/
  .boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  }
  .boxes .box {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
  }
  .boxes .box:nth-child(1) {
    transform: translate(100%, 0);
    -webkit-animation: box1 var(--duration) linear infinite;
    animation: box1 var(--duration) linear infinite;
  }
  .boxes .box:nth-child(2) {
    transform: translate(0, 100%);
    -webkit-animation: box2 var(--duration) linear infinite;
    animation: box2 var(--duration) linear infinite;
  }
  .boxes .box:nth-child(3) {
    transform: translate(100%, 100%);
    -webkit-animation: box3 var(--duration) linear infinite;
    animation: box3 var(--duration) linear infinite;
  }
  .boxes .box:nth-child(4) {
    transform: translate(200%, 0);
    -webkit-animation: box4 var(--duration) linear infinite;
    animation: box4 var(--duration) linear infinite;
  }
  .boxes .box > div {
    --background: theme(colors.primary);
    --top: auto;
    --right: auto;
    --bottom: auto;
    --left: auto;
    --translateZ: calc(var(--size) / 2);
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
      translateZ(var(--translateZ));
    backface-visibility: visible;
  }
  .boxes .box > div:nth-child(1) {
    --top: 0;
    --left: 0;
  }
  .boxes .box > div:nth-child(2) {
    --background: theme(colors.blue.600);
    --right: 0;
    --rotateY: 90deg;
  }
  .boxes .box > div:nth-child(3) {
    --background: theme(colors.blue.500);
    --rotateX: -90deg;
  }
  .boxes .box > div:nth-child(4) {
    --background: theme(colors.blue.300);
    --top: 0;
    --left: 0;
    --translateZ: calc(var(--size) * 3 * -1);
  }
  @keyframes box1 {
    0%,
    50% {
      transform: translate(100%, 0);
    }
    100% {
      transform: translate(200%, 0);
    }
  }
  @-webkit-keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }

    50% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(100%, 0);
    }
  }
  @keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(100%, 0);
    }
  }
  @-webkit-keyframes box3 {
    0%,
    50% {
      transform: translate(100%, 100%);
    }
    100% {
      transform: translate(0, 100%);
    }
  }
  @keyframes box3 {
    0%,
    50% {
      transform: translate(100%, 100%);
    }
    100% {
      transform: translate(0, 100%);
    }
  }
  @-webkit-keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }
    50% {
      transform: translate(200%, 100%);
    }
    100% {
      transform: translate(100%, 100%);
    }
  }
  @keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }
    50% {
      transform: translate(200%, 100%);
    }
    100% {
      transform: translate(100%, 100%);
    }
  }
  /*PROGRESS BAR*/
  #process-bar {
    position: fixed;
    height: 3px;
    z-index: 100000;
    top: 0;
    width: 100%;
  }
}

@layer utilities {
  /*CONVERSATION*/
  .conversation-active {
    @apply bg-gradient-to-r from-blue-300 to-primary text-white cursor-pointer transition-all;
  }
}
