@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
button,
input,
select,
textarea {
  all: unset;
  font-family: inherit;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  opacity: 0.4;
  border-radius: 5px;
}
html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smoothing;
  font-size: 62.5%;
  font-size: 1.6rem;
  line-height: 1.5;
}
body {
  font-family: Oswald, 'Helvetica Neue', sans, sans-serif;
  position: relative;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  height: 100%;
}
#process-bar {
  position: fixed;
  height: 3px;
  z-index: 100000;
  top: 0;
  width: 100%;
}
.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
